
body {
    background-color: #E9F8F9;
    border-style: ridge;
    border-color: #85CDFD;
    border-width: thick;
    border-radius: 40px;
    margin: 30px;
    color: #1A0000;
    padding: 20px;
}

hr {
    border-color: grey;
    box-shadow: 0;
    border-style: none;
    border-width: 10px;
    height: 20px;
    width: 8%;
    border-style: dotted none none none;
}

h1 {
    color: #285430;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: grey;
}
h2 {
    color: #00425A;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: grey;
}
